
img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* navbar */

.ms_nav-bgcolor {
    background-color: #2c3e50;
    color: white;
    text-transform: uppercase;
}

.ms_main-nav {
    list-style-type: none;
    margin-bottom: 0;
    padding: 0;
    font-size: 14px;
}

.ms_main-nav a {
    text-decoration: none;
    color: currentColor;
}

/* jumbotron */

.ms_jumbo-bgcol {
    background-color: #1abc9c;
}

.ms_avatar-wrap {
    max-width: 250px;
    margin: 0 auto;
    padding-top: 50px;
}

.ms_jumbo-text-wrap {
    max-width: 610px;
    margin: 0 auto;
}

.ms_jumbo-title {
    font-size: 50px;
}

.ms_star-line:before,
.ms_star-line:after {
    content: "";
    display: block;
    width: 155px;
    height: 4px;
    background-color: #fff;
}

.ms_star-line.s_black:before,
.ms_star-line.s_black:after {
    background-color: black;
}

/* portfolio */

.ms_title-section {
    font-size: 36px;
}

.ms_portfolio-card {
    border-radius: 5px;
    overflow: hidden;
}

.ms_overlay::after {
    content: "";
    display: block;
    background-color: #1abc9c;
    opacity: 0.4;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.ms_card-wrap:hover .ms_overlay::after,
.ms_card-wrap:hover .fas.fa-plus {
    cursor: pointer;
    visibility: visible;
}

.ms_portfolio-card .fas.fa-plus {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    visibility: hidden;
    z-index: 1;
}

/* about */

.ms_about {
    background-color: #1abc9c;
}

#about .ms_about-text {
    column-count: 2;
    column-gap: 25px;
    font-weight: 500;
}

/* contact */

.debug .ms_info {
    min-height: 240px;
    background-color: #3a546d;
    color: white;
}

#contact ::placeholder {
    font-size: 18px;
    color: #4d5b6a;
    font-weight: 500;
}

#contact .ms_form,
#contact .ms_form-area {
    border-bottom: 2px solid #d9d9d9;
    border-top: none;
    border-left: none;
    border-right: none;
}


#contact .ms_cta-form {
    background-color: #1abc9c;
    border-color: #1abc9c;
}







.debug .ms_info_card {
    border: 1px solid black;
}

.debug .ms_copyright {
    min-height: 100px;
    background-color: #2c3e50;
    color: white;
}

/* media query */

@media screen and (max-width:576px) {

    .ms_jumbo-title {
        font-size: 26px;
    }
    
    .ms_jumbo-info {
        font-size: 12px;
    }

    /* portfolio */

    .ms_title-section {
        font-size: 22px;
    }

    /* about */

    #about {
        padding: 0 60px;
    }

    .ms_about-text {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    /* contact */

    #contact {
        padding: 0 60px;
    }

    #contact ::placeholder {
        font-size: 14px;
    }
}